{deps, [
  % grisp,
  {grisp, {git, "https://github.com/GrispLasp/grisp.git", {branch, "master"}}},
  {lager, {git, "https://github.com/erlang-lager/lager.git", {branch, "master"}}},
  {epmd, {git, "https://github.com/erlang/epmd", {ref, "4d1a59"}}},
  {lasp, {git, "https://github.com/lasp-lang/lasp.git", {branch, "master"}}},
  {partisan, {git, "https://github.com/lasp-lang/partisan.git", {branch, "master"}}}
]}.

{plugins, [
    rebar3_hex,
    rebar3_grisp
]}.

{erl_opts, [debug_info,
            {parse_transform, lager_transform}]}.

{grisp, [
    {otp, [{version, "21.0"}]},
    {build, [
        {toolchain, [
            {directory,"/home/laymer/EdgeComputing/NewGRiSP/grisp-software/rtems-install/rtems/5"}]} % 540
    ]},
    {deploy, [
        {pre_script, "rm -rf /media/laymer/GRISP/*"},
        {destination, "/media/laymer/GRISP"},
        {post_script, "umount /media/laymer/GRISP"}
    ]}
    % {build, [
    %     {toolchain, [
    %       {directory,"/Users/Laymer/GRiSP/grisp-software/rtems-install/rtems/5"} % Mac
    %     ]}
    % ]},
    % {deploy, [
    %     {pre_script, "rm -rf /Volumes/GRISP/*"},
    %     {destination, "/Volumes/GRISP"},
    %     {post_script, "diskutil unmount /Volumes/GRISP"}
    % ]}
]}.

{shell, [{apps, []}]}.

% {relx, [
%     {release, {ballgame, "0.1.0"}, [
%         % sasl,
%         lager,
%         {epmd, none},
%         partisan,
%         ballgame
%     ]},
%     {sys_config, "config/sys.config"},
%     {extended_start_script, true}
%
% ]}.
{relx, [{release, {ballgame, "0.1.0"},
        [
            sasl,
            lager,
            {epmd, none},
            partisan,
            lasp,
            ballgame
        ]},
        {sys_config, "./config/sys.config"},
        % {vm_args, "./config/vm.args"},
        {dev_mode, false},
        {include_erts, true},
        {extended_start_script, true}]
}.


{profiles, [{prod, [{relx, [{dev_mode, false},
                            {include_erts, true}]}]
            },
            {test, [
              {erl_opts, [nowarn_export_all,
                            debug_info
                        ]}
            ]}]
}.
% {profiles, [
%     {test, [
%         % {deps, [
%         %     {concuerror, {git, "https://github.com/parapluu/Concuerror.git", {branch, "master"}}}
%         % ]},
%         {relx, [
%             {release, {ballgame, "0.1.0"}, [
%                 sasl,
%                 lager,
%                 {epmd, none},
%                 partisan,
%                 ballgame
%             ]},
%             {sys_config, "config/test.config"},
%             {extended_start_script, true}
%         ]},
%         {sys_config, "config/test.config"},
%         {dev_mode, true},
%         {include_erts, false},
%         {shell, [{apps, []},
%             {config, "config/test.config"}]},
%         {erl_opts,
%             [nowarn_export_all,
%             {d, 'SHELL', true},
%             debug_info]
%         }]
%     },
%     {devrel, [
%         {erl_opts, [
%             nowarn_export_all,
%             {d, 'DEVREL',true},
%             debug_info
%         ]},
%         {relx, [
%             {release, {ballgame, "0.1.0"}, [
%                 sasl,
%                 lager,
%                 {epmd, none},
%                 partisan,
%                 ballgame
%             ]},
%             {sys_config, "config/sys.config"},
%             {extended_start_script, true}
%         ]},
%         {sys_config, "config/sys.config"},
%         {dev_mode, true},
%         {include_erts, true},
%         {shell, [{apps, []},
%             {config, "config/sys.config"}]}
%     ]},
%     {prod, [
%         {erl_opts, [
%             {d, 'SILENT'}
%         ]}
%     ]}
% ]}.
