{deps, [
  % grisp,
  {epmd, {git, "https://github.com/erlang/epmd", {ref, "4d1a59"}}},
  {partisan, {git, "https://github.com/lasp-lang/partisan.git", {branch, "master"}}}
]}.

{erl_opts, [debug_info]}.

{grisp, [
    {deploy, [
      % {pre_script, "rm -rf /Volumes/GRISP/*"},
      % {destination, "/Volumes/GRISP"},
      % {post_script, "diskutil unmount /Volumes/GRISP"}
      {pre_script, "rm -rf /media/laymer/GRISP/*"},
      {destination, "/media/laymer/GRISP"},
      {post_script, "umount /media/laymer/GRISP"}
    ]},
    {otp, [
        {version, "21.0"}
    ]},
    {build, [
        {toolchain, [
          % {directory,"/Users/Laymer/GRiSP/grisp-software/rtems-install/rtems/5"} % Mac
          % {directory,"/home/laymer/NewGRiSP/grisp-software/rtems-install/rtems/5"} % Desktop
          {directory,"/home/laymer/EdgeComputing/NewGRiSP/grisp-software/rtems-install/rtems/5"} % W540
        ]}
    ]}
]}.

{shell, [{apps, []},
        {config, "config/sys.config"}]}.

{relx, [
    {release, {ballgame, "0.1.0"}, [
      {epmd, none},
      partisan,
      ballgame
    ]},
    {sys_config, "config/sys.config"},
    {extended_start_script, true}
]}.
