%% -*- erlang -*-
[{ballgame, [
    {players, [
        [1,2]
    ]},
    {fakeplayers, [
        ["LaymerZ370","LaymerMac"]
    ]},
    {matchmaker, ballgame_matchmaker},
    {number, 1}
]},

{partisan, [{partisan_peer_service_manager,
            partisan_hyparview_peer_service_manager},
            {peer_port, 20000},
            {acceptor_pool_size, 3},
            {channels, [1]}
]},

{lager, [
  {handlers, [
    {lager_console_backend, [{level, info}]}
  ]}
]},

{logger, [
  {level, debug}
  % {level, notice}
]},

{kernel, [
    % {logger_level, notice},
    {logger_level, debug},
    {logger, [{handler,
      default,
      logger_std_h,
      #{level => debug,
      % #{level => notice,
        formatter => {logger_formatter, #{single_line => true}}}
   }]}
]}].

%
% {lasp, [{membership, false},
%         {storage_backend, lasp_ets_storage_backend},
%         % {mode, state_based},
%         {mode, delta_based},
%         % see https://github.com/lasp-lang/lasp/commit/a9422207e554e47495c7c488450a238274844eb9
%         {propagate_on_update, true},
%         {plumtree_peer_refresh_interval, 2000},
%         {state_sync_interval, 2000},
%         {delta_interval, 2000}]},

% {os_mon, [
%   {start_os_sup, true},
%   {start_cpu_sup, true},
%   {start_disk_sup, false}[
% {task1,all,#Fun<node_app.0.34321799>,{<0.1007.0>,#Ref<0.1812322877.440926209.151804>}},0]
% ]},
% lists:flatlength([{task1,all,#Fun<node_app.0.34321799>,{<0.1007.0>,#Ref<0.1812322877.440926209.151804>}},0]).

%
% {plumtree, [{broadcast_exchange_timer, 2000},
%            {broadcast_mods, [lasp_plumtree_backend]}]},
